<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="Gennis Campus is a education center which is specialized for Teaching Lessons locally!">
    <meta name="author" content="Inovatik">

	<meta property="og:site_name" content="" />
	<meta property="og:site" content="" />
	<meta property="og:title" content=""/>
	<meta property="og:description" content="" />
	<meta property="og:image" content="" />
	<meta property="og:url" content="" />
	<meta property="og:type" content="article" />

    <!-- Website Title -->
    <title>Gennis Campus</title>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,700&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="../../static/css/bootstrap.css" rel="stylesheet">
    <link href="../../static/css/fontawesome-all.css" rel="stylesheet">
    <link href="../../static/css/swiper.css" rel="stylesheet">
	<link href="../../static/css/magnific-popup.css" rel="stylesheet">
	<link href="../../static/css/styles.css" rel="stylesheet">

    <link rel="icon" href="../../static/images/favicon.png">
</head>
<body data-spy="scroll" data-target=".fixed-top">

	<div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>

    <nav class="navbar navbar-expand-md navbar-dark navbar-custom fixed-top">

        <a class="navbar-brand logo-image" href="index.html"><img src="../../static/images/logo_gennis_campus.jpg" alt="alternative"></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-awesome fas fa-bars"></span>
            <span class="navbar-toggler-awesome fas fa-times"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#header">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#intro">Biz kimmiz?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#services">Bo'limlar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="/sign">Sign In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#projects">Courses</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle page-scroll" href="terms-conditions.html" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">Shartnoma</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="terms-conditions.html"><span class="item-text">Qonun Qoidalar</span></a>
                        <div class="dropdown-items-divide-hr"></div>
                        <a class="dropdown-item" href="privacy-policy.html"><span class="item-text">Majburiyatlar</span></a>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#contact">Bog'lanish</a>
                </li>
            </ul>
        </div>
    </nav>

    <header id="header" class="header">
        <div class="header-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-container">
                            <h1>Gennis Campus</h1>
                            <p class="p-heading p-large">Gennis Campus is a education center which is specialized for Teaching Lessons locally!</p>
                            <a class="btn-solid-lg page-scroll" href="#intro">Yanada</a>
                            <a class="btn-solid-lg page-scroll" href="/auth_list">Admin</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div id="intro" class="basic-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="text-container">
                        <div class="section-title">Biz kimmiz?</div>
                        <h2>Gennis Campus </h2>
                        <p>O'quv Markazining asosiy maqsadlaridan biri bu - O'zbekiston o'quv reytingini oshirish</p>
                        <p class="testimonial-text">"Education is the most powerful weapon for changing the WORLD!"</p>
                        <div class="testimonial-author">Makhmud Yuldashev - CEO</div>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-lg-7">
                    <div class="image-container">
                        <img class="img-fluid" src="../../static/images/gennis_campus_rocket.jpg" alt="alternative">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="cards-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <div class="card">
                        <span class="fa-stack">
                            <span class="hexagon"></span>
                            <i class="fas fa-binoculars fa-stack-1x"></i>
                        </span>
                        <div class="card-body">
                            <h4 class="card-title">Maqsad</h4>
                            <p>Muvaffaqiyatga erishishning eng birinchi yo'li bu - kelajakka maqsad qo'ya bilish</p>
                        </div>
                    </div>

                    <div class="card">
                        <span class="fa-stack">
                            <span class="hexagon"></span>
                            <i class="fas fa-list-alt fa-stack-1x"></i>
                        </span>
                        <div class="card-body">
                            <h4 class="card-title">Tajriba</h4>
                            <p>Maqsad bo'lgani bilan Muvaffaqiyatga erishish uchun albatta o'gir mehnat talab qilinadi</p>
                        </div>
                    </div>

                    <div class="card">
                        <span class="fa-stack">
                            <span class="hexagon"></span>
                            <i class="fas fa-chart-pie fa-stack-1x"></i>
                        </span>
                        <div class="card-body">
                            <h4 class="card-title">Muvaffaqiyat</h4>
                            <p>Va G'alaba. Ishonch va Qaniyat "Muvaffaqiyat"ning kalitidir</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div id="services" class="cards-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">Bo'limlar</div>
                    <h2>Sizga kerakli bo'lgan<br>Bo'limni tanlang</h2>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">
                    
                    <!-- Card -->
                    <div class="card">
                        <div class="card-image">
                            <img class="img-fluid" src="../../static/images/classroom1.jpg" alt="alternative">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">Sinfxona</h3>
                            <p>Ro'yhatdan o'tgan bo'lsangiz va Sizga SMS ilovasi orqali xabar kelgan bo'lsa dars jadvalini va kerakli malumotlarni shu yerdan olishingiz mumkin</p>
                        </div>
                        <div class="button-container">
                            <a class="btn-solid-reg page-scroll" href="#callMe">O'tish</a>
                        </div> <!-- end of button-container -->
                    </div>

                    <div class="card">
                        <div class="card-image">
                            <img class="img-fluid" src="../../static/images/online_lesson1.png" alt="alternative">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">Online Darsliklar</h3>
                            <p>Gennis Campus filialidagi Kurs azosi bo'lsangiz Maxsus Darsliklarni shu yerdan topasiz</p>
                            <ul class="list-unstyled li-space-lg">
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">Uy ishilar</div>
                                </li>
                            </ul>
                        </div>
                        <div class="button-container">
                            <a class="btn-solid-reg page-scroll" href="#callMe">O'tish</a>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-image">
                            <img class="img-fluid" src="../../static/images/services-3.jpg" alt="alternative">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">Profil</h3>
                            <p>Sizning shaxsiy profilingiz:</p>
                            <ul class="list-unstyled li-space-lg">
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">Natijalar</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">O'zlashitirish salohiyati</div>
                                </li>
                            </ul>

                        </div>
                        <div class="button-container">
                            <a class="btn-solid-reg page-scroll" href="#callMe">O'tish</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

	<div id="details" class="accordion">
		<div class="area-1">
		</div><div class="area-2">
            <div class="accordion-container" id="accordionOne">
                <h2>Gennis Campus kelajakda sizga qanday yordam bera oladi.</h2>
                <div class="item">
                    <div id="headingOne">
                        <span data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" role="button">
                            <span class="circle-numbering">1</span><span class="accordion-title">Chet davlatda grantda o'qish imkoniyati </span>
                        </span>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionOne">
                        <div class="accordion-body">
                            Agarda siz balog'at yoshiga yetgan va o'qishga kirishga tayyor bo'lsangiz Gennis Campus sizga chet davlatda o'qish imkoniyatini beradi.
                        </div>
                    </div>
                </div>
            
                <div class="item">
                    <div id="headingTwo">
                        <span class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" role="button">
                            <span class="circle-numbering">2</span><span class="accordion-title">O'quv markazida ishlash imkoniyati</span>
                        </span>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionOne">
                        <div class="accordion-body">
                            Oliy O'quv yurtiga kirganingizda sizda bolalarga dars o'tish imkoniyati paydo bo'ladi
                        </div>
                    </div>
                </div>
            </div>
		</div>
    </div>

	<div class="tabs">
        <div class="area-1">
            <div class="tabs-container">

                <ul class="nav nav-tabs" id="ariaTabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="nav-tab-1" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true"><i class="fas fa-th"></i>Natija</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="nav-tab-2" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false"><i class="fas fa-th"></i>Tajriba</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="nav-tab-3" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false"><i class="fas fa-th"></i>Sifat</a>
                    </li>
                </ul>

                <div class="tab-content" id="ariaTabsContent">

                    <!-- Tab -->
                    <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="tab-1">
                        <h4>Oliy o'quv imtihonlaridagi Gennis Campus o'quvchilari natijalari</h4>
                        <p>2020 Yilgi bo'lib o'tgan davlat imtihonlaridagi natijalar:</p>
                        
                        <!-- Progress Bars -->
                        <div class="progress-container">
                            <div class="title">Grant 17%</div>
                            <div class="progress">
                                <div class="progress-bar second" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="17"></div>
                            </div>
                            <div class="title">Kontrakt 71%</div>
                            <div class="progress">
                                <div class="progress-bar first" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="title">Kira olmagan 2%</div>
                            <div class="progress">
                                <div class="progress-bar third" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div> <!-- end of progress-container -->
                        <!-- end of progress bars -->
                        
                    </div> <!-- end of tab-pane --> 
                    <!-- end of tab -->

                    <!-- Tab -->
                    <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="tab-2">
                        <ul class="list-unstyled li-space-lg first">
                            <li class="media">
                                <div class="media-bullet">1</div>
                                <div class="media-body">Biz har bir fandan yuqori natijaga erishdik</div>
                            </li>
                            <li class="media">
                                <div class="media-bullet">2</div>
                                <div class="media-body">Shu sababli ham 98% abiturent 2020 yilgi Davlat Test Markazida yuqori ballarga ega bo'ldi</div>
                            </li>
                            <li class="media">
                                <div class="media-bullet">3</div>
                                <div class="media-body">Hatto o'quv markazining 3% o'quvchisi Chet el ta'lim muassasiga qabul qilindi</div>
                            </li>
                        </ul>
                        <ul class="list-unstyled li-space-lg last">
                            <li class="media">
                                <div class="media-bullet">4</div>
                                <div class="media-body">23% o'quvchi esa Gennis Campus filiallaridan birida ishlashga qaror qildi</div>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="tab-3">
                        <p>Bizning 2020 yilgi reytingmiz 98% ga teng bo'ldi</p>
                        <p>Bizning asosiy maqsadimiz esa 100% foizli darajaga olib chiqishdir</p>
                    </div>
                </div>
            </div>
        </div><div class="area-2"></div>
    </div>

    <div class="slider">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Muvaffaqiyatga erishgan Gennis Campus o'quvchilari</h2>
                    <p class="p-heading">Gennis Campus o'quv markazi intilayotgan har bir abiturentni qo'lidan kelgancha qo'llab-quvvatlaydi</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">

                    <div class="slider-container">
                        <div class="swiper-container card-slider">
                            <div class="swiper-wrapper">
                                
                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="card">
                                        <img class="card-image" src="../../static/images/testimonial-1.jpg" alt="alternative">
                                        <div class="card-body">
                                            <div class="testimonial-text">The guys from Aria helped with getting my business off the ground and turning into a profitable company.</div>
                                            <div class="testimonial-author">Student</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="swiper-slide">
                                    <div class="card">
                                        <img class="card-image" src="../../static/images/testimonial-2.jpg" alt="alternative">
                                        <div class="card-body">
                                            <div class="testimonial-text">I purchased the Growth Accelerator service pack a few years ago and I renewed the contract each year. </div>
                                            <div class="testimonial-author">Marsha Singer - Marketer</div>
                                        </div>
                                    </div>        
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->
        
                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="card">
                                        <img class="card-image" src="../../static/images/testimonial-3.jpg" alt="alternative">
                                        <div class="card-body">
                                            <div class="testimonial-text">Aria's CEO personally attends client meetings and gives his feedback on business growth strategies.</div>
                                            <div class="testimonial-author">Roy Smith - Developer</div>
                                        </div>
                                    </div>        
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->
        
                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="card">
                                        <img class="card-image" src="../../static/images/testimonial-4.jpg" alt="alternative">
                                        <div class="card-body">
                                            <div class="testimonial-text">At the beginning I thought the prices are a little high for what they offer but they over deliver each and every time.</div>
                                            <div class="testimonial-author">Ronald Spice - Owner</div>
                                        </div>
                                    </div>
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->
        
                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="card">
                                        <img class="card-image" src="../../static/images/testimonial-5.jpg" alt="alternative">
                                        <div class="card-body">
                                            <div class="testimonial-text">I recommend Aria to every business owner or growth leader that wants to take his company to the next level.</div>
                                            <div class="testimonial-author">Lindsay Rune - Manager</div>
                                        </div>
                                    </div>        
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->
        
                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="card">
                                        <img class="card-image" src="../../static/images/testimonial-6.jpg" alt="alternative">
                                        <div class="card-body">
                                            <div class="testimonial-text">My goals for using Aria's services seemed high when I first set them but they've met them with no problems.</div>
                                            <div class="testimonial-author">Ann Black - Consultant</div>
                                        </div>
                                    </div>        
                                </div>
                            </div>

                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
        
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

	<div id="projects" class="filter">
		<div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">Mavjud O'quv Turlari</div>
                    <h2>Fanlar bilan tanishing</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="button-group filters-button-group">
                        <a class="button is-checked" data-filter="*"><span>Hammasi</span></a>
                        <a class="button" data-filter=".design"><span>Ingliz tili</span></a>
                        <a class="button" data-filter=".development"><span>IELTS</span></a>
                        <a class="button" data-filter=".marketing"><span>Matematika</span></a>
                        <a class="button" data-filter=".seo"><span>Fizika</span></a>
                        <a class="button" data-filter=".biology"><span>Biologiya</span></a>
                        <a class="button" data-filter=".mother_tongue"><span>Ona tili va Adabiyot</span></a>
                    </div>
                    <div class="grid">
                        <div class="element-item design">
                            <a class="popup-with-move-anim" href="#project-1"><div class="element-item-overlay"><span>Ingliz tili (Beginner)</span></div><img src="../../static/images/beginner_english.jpg" alt="alternative"></a>
                        </div>
                        <div class="element-item design">
                            <a class="popup-with-move-anim" href="#project-1"><div class="element-item-overlay"><span>Ingliz tili (Intermediate)</span></div><img src="../../static/images/project-1.jpg" alt="alternative"></a>
                        </div>
                        <div class="element-item design">
                            <a class="popup-with-move-anim" href="#project-2"><div class="element-item-overlay"><span>Ingliz tili (Advanced)</span></div><img src="../../static/images/project-2.jpg" alt="alternative"></a>
                        </div>
                        <div class="element-item marketing">
                            <a class="popup-with-move-anim" href="#project-3"><div class="element-item-overlay"><span>Matematika (Beginner)</span></div><img src="../../static/images/project-3.jpg" alt="alternative"></a>
                        </div>
                        <div class="element-item marketing">
                            <a class="popup-with-move-anim" href="#project-4"><div class="element-item-overlay"><span>Matematika (Intermediate)</span></div><img src="../../static/images/project-4.jpg" alt="alternative"></a>
                        </div>
                        <div class="element-item marketing">
                            <a class="popup-with-move-anim" href="#project-4"><div class="element-item-overlay"><span>Matematika (Advanced)</span></div><img src="../../static/images/project-4.jpg" alt="alternative"></a>
                        </div>
                        <div class="element-item design development">
                            <a class="popup-with-move-anim" href="#project-5"><div class="element-item-overlay"><span>IELTS</span></div><img src="../../static/images/project-5.jpg" alt="alternative"></a>
                        </div>
                        <div class="element-item seo">
                            <a class="popup-with-move-anim" href="#project-6"><div class="element-item-overlay"><span>Fizika</span></div><img src="../../static/images/project-6.jpg" alt="alternative"></a>
                        </div>
                        <div class="element-item biology">
                            <a class="popup-with-move-anim" href="#project-7"><div class="element-item-overlay"><span>Biologiya</span></div><img src="../../static/images/project-7.jpg" alt="alternative"></a>
                        </div>
                        <div class="element-item mother_tongue">
                            <a class="popup-with-move-anim" href="#project-8"><div class="element-item-overlay"><span>Ona tili va Adabiyot</span></div><img src="../../static/images/project-8.jpg" alt="alternative"></a>
                        </div>
                    </div>
                </div>
            </div>
		</div>
    </div>
    <div id="project-1" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="row">
            <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
            <div class="col-lg-8">
                <img class="img-fluid" src="../../static/images/project-1.jpg" alt="alternative">
            </div> <!-- end of col -->
            <div class="col-lg-4">
                <h3>Ingliz Tili</h3>
                <hr class="line-heading">
                <h6>Ma'lumot</h6>
                <p>Agarda Ingliz tilidan uncha xabaringiz bo'lmasa yoki endi boshlayotgan bo'lsangiz shu kursni sizga maslahat beramiz!</p>
                <p>(Beginner) -- Ingliz tilini bilamydigan yoki tajribasi yo'q</p>
                <p>(Intermediate) -- 9 oy - 2 yil tajribaga ega</p>
                <p>(Advanced) -- 2 yildan yuqori tajribaga ega</p>
                <div class="testimonial-container">
                    <p class="testimonial-text">Kursga navbatga turish uchun "Qo'shilish" tugmachasi yoki Gennis Campus filialiga borib ro'yhatdan o'tishingiz mumkin.</p>
                    <p class="testimonial-author">Administrator</p>
                </div>
                <a class="btn-solid-reg" href="#your-link">Qo'shilish</a> <a class="btn-outline-reg mfp-close as-button" href="#projects">Orqaga</a>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of lightbox-basic -->
    <!-- end of lightbox -->

    <!-- Lightbox -->
    <div id="project-2" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="row">
            <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
            <div class="col-lg-8">
                <img class="img-fluid" src="../../static/images/project-2.jpg" alt="alternative">
            </div> <!-- end of col -->
            <div class="col-lg-4">
                <h3>Classic Industry</h3>
                <hr class="line-heading">
                <h6>Strategy Development</h6>
                <p>Need a solid foundation for your business growth plans? Aria will help you manage sales and meet your current needs</p>
                <p>By offering the best professional services and quality products in the market. Don't hesitate and get in touch with us.</p>
                <div class="testimonial-container">
                    <p class="testimonial-text">Need a solid foundation for your business growth plans? Aria will help you manage sales and meet your current requirements.</p>
                    <p class="testimonial-author">General Manager</p>
                </div>
                <a class="btn-solid-reg" href="#your-link">DETAILS</a> <a class="btn-outline-reg mfp-close as-button" href="#projects">BACK</a> 
            </div>
        </div>
    </div>
    <div id="project-3" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="row">
            <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
            <div class="col-lg-8">
                <img class="img-fluid" src="../../static/images/project-3.jpg" alt="alternative">
            </div> <!-- end of col -->
            <div class="col-lg-4">
                <h3>BoomBap Audio</h3>
                <hr class="line-heading">
                <h6>Strategy Development</h6>
                <p>Need a solid foundation for your business growth plans? Aria will help you manage sales and meet your current needs</p>
                <p>By offering the best professional services and quality products in the market. Don't hesitate and get in touch with us.</p>
                <div class="testimonial-container">
                    <p class="testimonial-text">Need a solid foundation for your business growth plans? Aria will help you manage sales and meet your current requirements.</p>
                    <p class="testimonial-author">General Manager</p>
                </div>
                <a class="btn-solid-reg" href="#your-link">DETAILS</a> <a class="btn-outline-reg mfp-close as-button" href="#projects">BACK</a> 
            </div>
        </div>
    </div>
    <div id="project-4" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="row">
            <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
            <div class="col-lg-8">
                <img class="img-fluid" src="../../static/images/project-4.jpg" alt="alternative">
            </div> <!-- end of col -->
            <div class="col-lg-4">
                <h3>Van Moose</h3>
                <hr class="line-heading">
                <h6>Strategy Development</h6>
                <p>Need a solid foundation for your business growth plans? Aria will help you manage sales and meet your current needs</p>
                <p>By offering the best professional services and quality products in the market. Don't hesitate and get in touch with us.</p>
                <div class="testimonial-container">
                    <p class="testimonial-text">Need a solid foundation for your business growth plans? Aria will help you manage sales and meet your current requirements.</p>
                    <p class="testimonial-author">General Manager</p>
                </div>
                <a class="btn-solid-reg" href="#your-link">DETAILS</a> <a class="btn-outline-reg mfp-close as-button" href="#projects">BACK</a> 
            </div>
        </div>
    </div>
    <div id="project-5" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="row">
            <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
            <div class="col-lg-8">
                <img class="img-fluid" src="../../static/images/project-5.jpg" alt="alternative">
            </div>
            <div class="col-lg-4">
                <h3>Joy Moments</h3>
                <hr class="line-heading">
                <h6>Strategy Development</h6>
                <p>Need a solid foundation for your business growth plans? Aria will help you manage sales and meet your current needs</p>
                <p>By offering the best professional services and quality products in the market. Don't hesitate and get in touch with us.</p>
                <div class="testimonial-container">
                    <p class="testimonial-text">Need a solid foundation for your business growth plans? Aria will help you manage sales and meet your current requirements.</p>
                    <p class="testimonial-author">General Manager</p>
                </div>
                <a class="btn-solid-reg" href="#your-link">DETAILS</a> <a class="btn-outline-reg mfp-close as-button" href="#projects">BACK</a> 
            </div>
        </div>
    </div>
    <div id="project-6" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="row">
            <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
            <div class="col-lg-8">
                <img class="img-fluid" src="../../static/images/project-6.jpg" alt="alternative">
            </div>
            <div class="col-lg-4">
                <h3>Spark Events</h3>
                <hr class="line-heading">
                <h6>Strategy Development</h6>
                <p>Need a solid foundation for your business growth plans? Aria will help you manage sales and meet your current needs</p>
                <p>By offering the best professional services and quality products in the market. Don't hesitate and get in touch with us.</p>
                <div class="testimonial-container">
                    <p class="testimonial-text">Need a solid foundation for your business growth plans? Aria will help you manage sales and meet your current requirements.</p>
                    <p class="testimonial-author">General Manager</p>
                </div>
                <a class="btn-solid-reg" href="#your-link">DETAILS</a> <a class="btn-outline-reg mfp-close as-button" href="#projects">BACK</a> 
            </div>
        </div>
    </div>
    <div id="project-7" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="row">
            <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
            <div class="col-lg-8">
                <img class="img-fluid" src="../../static/images/project-7.jpg" alt="alternative">
            </div> <!-- end of col -->
            <div class="col-lg-4">
                <h3>Casual Wear</h3>
                <hr class="line-heading">
                <h6>Strategy Development</h6>
                <p>Need a solid foundation for your business growth plans? Aria will help you manage sales and meet your current needs</p>
                <p>By offering the best professional services and quality products in the market. Don't hesitate and get in touch with us.</p>
                <div class="testimonial-container">
                    <p class="testimonial-text">Need a solid foundation for your business growth plans? Aria will help you manage sales and meet your current requirements.</p>
                    <p class="testimonial-author">General Manager</p>
                </div>
                <a class="btn-solid-reg" href="#your-link">DETAILS</a> <a class="btn-outline-reg mfp-close as-button" href="#projects">BACK</a> 
            </div>
        </div>
    </div>
    <div id="project-8" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="row">
            <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
            <div class="col-lg-8">
                <img class="img-fluid" src="../../static/images/project-8.jpg" alt="alternative">
            </div>
            <div class="col-lg-4">
                <h3>Zazoo Apps</h3>
                <hr class="line-heading">
                <h6>Strategy Development</h6>
                <p>Need a solid foundation for your business growth plans? Aria will help you manage sales and meet your current needs</p>
                <p>By offering the best professional services and quality products in the market. Don't hesitate and get in touch with us.</p>
                <div class="testimonial-container">
                    <p class="testimonial-text">Need a solid foundation for your business growth plans? Aria will help you manage sales and meet your current requirements.</p>
                    <p class="testimonial-author">General Manager</p>
                </div>
                <a class="btn-solid-reg" href="#your-link">DETAILS</a> <a class="btn-outline-reg mfp-close as-button" href="#projects">BACK</a> 
            </div>
        </div>
    </div>
    <div class="basic-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Bizning jamoa</h2>
                    <p class="p-heading">Managerlar va Mutahasislar</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">

                    <div class="team-member">
                        <div class="image-wrapper">
                            <img class="img-fluid" src="../../static/images/team-1.png" alt="alternative">
                        </div>
                        <p class="p-large">Yuldashev Makhmud</p>
                        <p class="job-title">CEO</p>
                        <span class="social-icons">
                            <span class="fa-stack">
                                <a href="#your-link">
                                    <span class="hexagon"></span>
                                    <i class="fab fa-facebook-f fa-stack-1x"></i>
                                </a>
                            </span>
                            <span class="fa-stack">
                                <a href="#your-link">
                                    <span class="hexagon"></span>
                                    <i class="fab fa-twitter fa-stack-1x"></i>
                                </a>
                            </span>
                        </span>
                    </div>
                    <div class="team-member">
                        <div class="image-wrapper">
                            <img class="img-fluid" src="../../static/images/team-2.png" alt="alternative">
                        </div>
                        <p class="p-large">Yuldashev Mamur</p>
                        <p class="job-title">Web designer</p>
                        <span class="social-icons">
                            <span class="fa-stack">
                                <a href="#your-link">
                                    <span class="hexagon"></span>
                                    <i class="fab fa-facebook-f fa-stack-1x"></i>
                                </a>
                            </span>
                            <span class="fa-stack">
                                <a href="#your-link">
                                    <span class="hexagon"></span>
                                    <i class="fab fa-twitter fa-stack-1x"></i>
                                </a>
                            </span>
                        </span>
                    </div>
                    <div class="team-member">
                        <div class="image-wrapper">
                            <img class="img-fluid" src="../../static/images/team-3.png" alt="alternative">
                        </div>
                        <p class="p-large">Chris Zimerman</p>
                        <p class="job-title">Online Marketer</p>
                        <span class="social-icons">
                            <span class="fa-stack">
                                <a href="#your-link">
                                    <span class="hexagon"></span>
                                    <i class="fab fa-facebook-f fa-stack-1x"></i>
                                </a>
                            </span>
                            <span class="fa-stack">
                                <a href="#your-link">
                                    <span class="hexagon"></span>
                                    <i class="fab fa-twitter fa-stack-1x"></i>
                                </a>
                            </span>
                        </span>
                    </div>
                    <div class="team-member">
                        <div class="image-wrapper">
                            <img class="img-fluid" src="../../static/images/team-4.png" alt="alternative">
                        </div>
                        <p class="p-large">Mary Villalonga</p>
                        <p class="job-title">Community Manager</p>
                        <span class="social-icons">
                            <span class="fa-stack">
                                <a href="#your-link">
                                    <span class="hexagon"></span>
                                    <i class="fab fa-facebook-f fa-stack-1x"></i>
                                </a>
                            </span>
                            <span class="fa-stack">
                                <a href="#your-link">
                                    <span class="hexagon"></span>
                                    <i class="fab fa-twitter fa-stack-1x"></i>
                                </a>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="contact" class="form-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="text-container">
                        <div class="section-title">Bo'glanish</div>
                        <h2>Murojaat qilmoq</h2>
                        <p>Siz hattoki bizning O'quv Markazlarimizgaham tashrif buyurishingiz mumkin.</p>
                        <ul class="list-unstyled li-space-lg">
                            <li class="address"><i class="fas fa-map-marker-alt"></i>Bo'stonliq tumani, G'azalkent Shaharchasi</li>
                            <li class="address"><i class="fas fa-map-marker-alt"></i>Bo'stonliq tumani, Ho'jakent Shaharchasi</li>
                            <li><i class="fas fa-phone"></i><a href="tel:998999941553">+998 99 994 15 53</a></li>
                            <li><i class="fas fa-phone"></i><a href="tel:998943103333">+998 94 310 33 33</a></li>
                            <li><i class="fas fa-envelope"></i><a href="mailto:genniscampus@gmail.com">genniscampus@gmail.com</a></li>
                        </ul>
                        <h3>Ommayiv tarmoqlarda ham biz bilan birga bo'ling!</h3>

                        <span class="fa-stack">
                            <a href="#your-link">
                                <span class="hexagon"></span>
                                <i class="fab fa-facebook-f fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <span class="hexagon"></span>
                                <i class="fab fa-twitter fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <span class="hexagon"></span>
                                <i class="fab fa-pinterest fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <span class="hexagon"></span>
                                <i class="fab fa-instagram fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <span class="hexagon"></span>
                                <i class="fab fa-linkedin-in fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="http://t.me/gennis_info">
                                <span class="hexagon"></span>
                                <i class="fab fa-telegram fa-stack-1x"></i>
                            </a>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">

                    <form id="contactForm" data-toggle="validator" data-focus="false">
                        <div class="form-group">
                            <input type="text" class="form-control-input" id="cname" required>
                            <label class="label-control" for="cname">Ism</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control-input" id="cemail" required>
                            <label class="label-control" for="cemail">Email</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control-textarea" id="cmessage" required>Xabar</textarea>
                            <label class="label-control" for="cmessage"></label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group checkbox">
                            <input type="checkbox" id="cterms" value="Agreed-to-Terms" required>I agree with Gennis Campus stated <a href="privacy-policy.html">Privacy Policy</a> and <a href="terms-conditions.html">Terms Conditions</a>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="form-control-submit-button">Jo'natmoq</button>
                        </div>
                        <div class="form-message">
                            <div id="cmsgSubmit" class="h3 text-center hidden"></div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="text-container about">
                        <h4>Few Words About Gennis Campus</h4>
                        <p class="white">Yuksak e'tibor uchun rahmat. Biz uchun fikringiz juda muhim!</p>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="text-container">
                        <h4>Links</h4>
                        <ul class="list-unstyled li-space-lg white">
                            <li>
                                <a class="white" href="#your-link">genniscampus.com</a>
                            </li>
                            <li>
                                <a class="white" href="terms-conditions.html">Terms & Conditions</a>
                            </li>
                            <li>
                                <a class="white" href="privacy-policy.html">Privacy Policy</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="text-container">
                        <h4>Partners</h4>
                        <ul class="list-unstyled li-space-lg">
                            <li>
                                <a class="white" href="#your-link">google.com</a>
                            </li>
                            <li>
                                <a class="white" href="#your-link">microsoft.com</a>
                            </li>
                            <li>
                                <a class="white" href="#your-link">apple.com</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="p-small">Gennis Campus ~ All Rights Reserved © 2020</p>
                </div>
            </div>
        </div>
    </div>

    <script src="../../static/js/jquery.min.js"></script>
    <script src="../../static/js/popper.min.js"></script>
    <script src="../../static/js/bootstrap.min.js"></script>
    <script src="../../static/js/jquery.easing.min.js"></script>
    <script src="../../static/js/swiper.min.js"></script>
    <script src="../../static/js/jquery.magnific-popup.js"></script>
    <script src="../../static/js/morphext.min.js"></script>
    <script src="../../static/js/isotope.pkgd.min.js"></script>
    <script src="../../static/js/validator.min.js"></script>
    <script src="../../static/js/scripts.js"></script>
</body>
</html>